<h3>Visitas aos Plantões</h3>
<hr>
<div class="card">
  <div class="card-header text-right">
    <a class="btn btn-primary" role="button" [routerLink]="['/plantoes/visitas/nova']">Nova visita</a>
  </div>
  <div class="card-body">
    <table class="table grid">
      <thead>
        <tr>
            <th scope="col">Dia</th>
            <th scope="col">Aluno</th>
            <th scope="col">Matéria</th>
            <th scope="col">Hora entrada</th>
            <th scope="col">Hora saída</th>
            <th scope="col">Professor</th>
            <th scope="col">Sala</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let plantao of vistas_plantoes | async" >
          <td>{{ plantao.nome }}</td>
          <td>{{ plantao.descricao }}</td>
          <td class="edit">
            <a class="btn btn-warning text-white" role="button" [routerLink]="['/plantoes/editar', plantao.key]"><i class="far fa-edit"></i>Editar</a>
          </td>
          <td class="delete">
            <button class="btn btn-danger" (click)="remover(plantao.key)"><i class="far fa-trash-alt"></i>Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

