<h3>Visitas aos Plantões</h3>
<hr>
<div class="card">
  <div class="card-header text-right">
    <a class="btn btn-primary" role="button" [routerLink]="['/plantoes/visitas/nova']">Nova visita</a>
  </div>
  <div class="card-body">
    <table class="table grid">
      <thead>
        <tr>
            <th scope="col">Dia</th>
            <th scope="col">Aluno</th>
            <th scope="col">Matéria</th>
            <th scope="col">Hora entrada</th>
            <th scope="col">Hora saída</th>
            <th scope="col">Professor</th>
            <th scope="col">Sala</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let visita of visitas | async" >

          <td>{{ visita.dia }}</td>
          <td>{{ visita.nome_aluno }}</td>
          <td>{{ visita.materiaNome }}</td>
          <td>{{ visita.hora_entrada }}</td>
          <td>{{ visita.hora_saida }}</td>
          <td>{{ visita.professorNome }}</td>
          <td>{{ visita.sala }}</td>

          <td class="edit">
            <a class="btn btn-warning text-white" role="button" [routerLink]="['/plantoes/visitas/editar', visita.key]"><i class="far fa-edit"></i>Editar</a>
          </td>
          <td class="delete">
            <button class="btn btn-danger" (click)="remover(visita.key)"><i class="far fa-trash-alt"></i>Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

