<h3>Usuários</h3>
<hr>
<div class="card">
  <div class="card-header text-right">
    <a class="btn btn-primary" role="button" [routerLink]="['/usuarios/novo']">Novo usuario</a>
  </div>
  <div class="card-body">
    <table class="table grid">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">E-mail</th>
          <th scope="col">Tipo</th>
          <th scope="col">Turma/Matéria</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios | async" >
          <td>{{ usuario.nome }}</td>
          <td>{{ usuario.email }}</td>
          <td>{{ usuario.tipo }}</td>
          <td>{{ usuario.atributoNome }}</td>
          <td class="edit">
            <a class="btn btn-warning text-white" role="button" [routerLink]="['editar', usuario.key]"><i class="far fa-edit"></i>Editar</a>
          </td>
          <td class="delete">
            <button class="btn btn-danger" (click)="remover(usuario.key)"><i class="far fa-trash-alt"></i>Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

