<h3>Turmas</h3>
<hr>
<div class="card">
  <div class="card-header text-right">
    <a class="btn btn-primary" role="button" [routerLink]="['/turmas/nova']">Nova turma</a>
  </div>
  <div class="card-body">
    <table class="table grid">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col"></th>
          <th scope="col"></th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let turma of turmas | async" >
          <td>{{ turma.nome }}</td>
          <!-- <td>{{ turma.descricao }}</td> -->
          <td class="edit">
            <a class="btn btn-warning text-white" role="button" [routerLink]="['/turmas/editar', turma.key]"><i class="far fa-edit"></i>Editar</a>
          </td>
          <td class="delete">
            <button class="btn btn-danger" (click)="remover(turma.key)"><i class="far fa-trash-alt"></i>Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

