<h3>{{ title }}</h3>
<hr>
<form [formGroup]="formProduto" (ngSubmit)="onSubmit()">

    <div class="form-group">
              <label for="exampleFormControlSelect1">Dia</label>
              <select class="form-control" id="exampleFormControlSelect1" formControlName="dia">
                <option value="">- Escolher -</option>
                <option value="segunda">Segunda</option>
                <option value="terca">Terça</option>
                <option value="quarta">Quarta</option>
                <option value="quinta">Quinta</option>
                <option value="sexta">Sexta</option>
                <option value="sabado">Sábado</option>
                <option value="domingo">Domingo</option>
              </select>
            </div>
  <div *ngIf="nome.invalid && (nome.dirty || nome.touched)" class="alert alert-danger">
    <div *ngIf="nome.errors?.required">
      O dia é obrigatório.
    </div>
  </div>
  <div class="form-group">
      <label for="materiaKey">Matéria</label>
      <select class="form-control" id="materiaKey" formControlName="materiaKey" (change)="setMateriaNome($event.target.selectedOptions)">
        <option value="">- Escolher -</option>
        <option *ngFor="let materia of materias | async" [value]="materia.key">{{ materia.nome}}</option>
      </select>
    </div>
    <div *ngIf="materiaKey.invalid && (materiaKey.dirty || materiaKey.touched)" class="alert alert-danger">
        <div *ngIf="materiaKey.errors?.required">
          A matéria é obrigatória.
        </div>
      </div>
  <div class="form-group">
    <label for="descricao">Hora inicio</label>
         <input type="time" id="inputMDEx1" class="form-control" formControlName="hora_inicio">
      </div>
  <div class="form-group">
      <label for="descricao">Hora fim</label>
            <input type="time" id="inputMDEx1" class="form-control" formControlName="hora_fim">
        </div>
  <div class="form-group">
      <label for="professorKey">Professor</label>
      <select class="form-control" id="professorKey" formControlName="professorKey" (change)="setProfessorNome($event.target.selectedOptions)">
        <option value="">- Escolher -</option>
        <option *ngFor="let materia of materias | async" [value]="materia.key">{{ materia.nome}}</option>
      </select>
    </div>
    <div *ngIf="professorKey.invalid && (professorKey.dirty || professorKey.touched)" class="alert alert-danger">
        <div *ngIf="professorKey.errors?.required">
          O professor é obrigatório.
        </div>
      </div>
    <div class="form-group">
        <label for="nome">Sala</label>
        <input type="text" class="form-control" id="sala" placeholder="Sala" formControlName="nome">
      </div>
      <div *ngIf="sala.invalid && (sala.dirty || sala.touched)" class="alert alert-danger">
        <div *ngIf="sala.errors?.required">
          A sala é obrigatória.
        </div>
      </div>


  <!-- O controle abaixo é para fazer upload do arquivo -->
  <div class="form-group" *ngIf="imgUrl == ''">
    <label class="form-control-label">Foto/Imagem</label>
    <input type="file" class="form-control" accept="image/png,image/jpeg" (change)="upload($event)" formControlName="img" />
  </div>

  <!-- A div abaixo é para exibir a imagem do produto -->
  <div class="form-group" *ngIf="imgUrl != ''">
    <img [src]="imgUrl" class="img-thumbnail d-block" style="max-width: 100px;">
    <button class="btn btn-danger mt-2" type="button" (click)="removerImg()">
      Remover imagem
    </button>
  </div>

  <button type="submit" class="btn btn-primary">Salvar</button>
  <a class="btn btn-secondary ml-2" [routerLink]="['/plantoes']">Voltar</a>

</form>
