<div class="row">
<div class="col-md-6" id="Entrar">

        <h1 class="display-4 text-success">Login</h1>
          <div class="form-group">
         <label for="exampleFormControlInput1">E-mail</label>
         <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Seu nome aqui">
         </div>
        <div class="form-group">
         <label for="exampleFormControlInput2">Senha</label>
         <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="Sua senha aqui">
         </div>
         <button type="submit" class="btn btn-primary">Entrar</button>

</div>

<div class="col-md-6" id="Cadastrar">

 <h1 class="display-4 text-success">Cadastro</h1>
     <div class="form-group">
       <label for="exampleFormControlInput3">Nome completo</label>
       <input type="email" class="form-control" id="exampleFormControlInput3" placeholder="Seu nome aqui">
       </div>
      <div class="form-group">
       <label for="exampleFormControlInput4">CPF</label>
       <input type="email" class="form-control" id="exampleFormControlInput4" placeholder="Seu CPF aqui">
       </div>
      <div class="form-group">
       <label for="exampleFormControlInput5">E-mail</label>
       <input type="email" class="form-control" id="exampleFormControlInput5" placeholder="Seu e-mail aqui">
       </div>
       <div class="form-group">
       <label for="exampleFormControlInput6">Senha</label>
       <input type="email" class="form-control" id="exampleFormControlInput6" placeholder="nome@servidor.com">
       </div>
       <button type="submit" class="btn btn-primary">Cadastrar</button>
     </div>

</div>
