<h3>{{ title }}</h3>
<hr>
<form [formGroup]="formComunicados" (ngSubmit)="onSubmit()">

  <div class="form-group row">
    <label for="example-date-input" class="col-2 col-form-label">Data</label>
    <div class="col-10">
      <input class="form-control" type="date" value="" id="dia"  formControlName="dia">
    </div>
  </div>
  <div class="form-group">
    <label for="turma">Turma</label>
    <select class="form-control" id="turmaKey" formControlName="turmaKey" (change)="setTurmaNome($event.target.selectedOptions)">
      <option value="">- Escolher -</option>
      <option *ngFor="let turma of turmas| async" [value]="turma.key">{{ turma.nome}}</option>
    </select>
  </div>
  <div *ngIf="nome.invalid && (nome.dirty || nome.touched)" class="alert alert-danger">
    <div *ngIf="nome.errors?.required">
      O nome da turma é obrigatório.
    </div>
  </div>
  <div class="form-group">
    <label for="nome">Título</label>
    <input type="text" class="form-control" id="nome" placeholder="nome" formControlName="nome">
  </div>
  <div class="form-group">
    <label for="nome">Conteúdo</label>
    <input type="text" class="form-control" id="nome" placeholder="descricao" formControlName="descricao">
  </div>


  <button type="submit" class="btn btn-primary">Salvar</button>
  <a class="btn btn-secondary ml-2" [routerLink]="['/turmas']">Voltar</a>

</form>
